.bxmaker__geoip__popup-header {
  display: block!important;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  color: #000;
  padding-bottom: 26px;
  border-bottom: 1px solid #a7c5d5;
  width: calc(100% + 40px);
  margin-left: -20px;
}

.bxmaker__geoip__popup-background {
  background: rgba(0,0,0,0.55);
}

.bxmaker__geoip__popup-close {
  font-size: 0;
  line-height: 0;
  top: -26px;
  right: 0;
  width: 16px;
  height: 17px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17"> <path fill="%23FFF" fill-rule="evenodd" d="M15.769 14.683l-1.813 1.816-5.957-5.966-5.956 5.966-1.814-1.816L6.402 8.5.228 2.316 2.04.5l5.958 5.966L13.954.5l1.814 1.816-6.174 6.183 6.175 6.184z"/> </svg> ');
  transition: .3s ease transform;
}

.bxmaker__geoip__popup-close:hover  {
  transform: rotate(90deg);
}

body .bxmaker__geoip__popup-content {
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 30px 20px;
}

.bxmaker__geoip__popup-search {
  margin-top: 30px;
  margin-bottom: 10px;
}

.bxmaker__geoip__popup-search input {
  border-color: #cbd2dc;
  color: #000;
  font-weight: 300;
}

.bxmaker__geoip__popup-auto-detect {
  font-size: 13px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  color: #ff0101;
  cursor: pointer;
  text-decoration: underline;
}

.bxmaker__geoip__popup-auto-detect:hover {
  text-decoration: none;
}

.bxmaker__geoip__popup-box{
  padding-top: 28px;
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}
.bxmaker__geoip__popup-city {
  width: 100%;
}

.bxmaker__geoip__popup-city-title {
  font-size: 14px;
  line-height: 1;
  text-align: left;
  font-weight: 300;
  color: #565656;
  margin-bottom: 6px;
}

.bxmaker__geoip__popup-city-item {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: #000;
  text-decoration: none;
  padding: 6px 0;
  cursor: pointer;
}

.bxmaker__geoip__popup-city-item:hover {
  text-decoration: underline;
}

.bxmaker__geoip__popup-info-pay {
  display: none;
  width: 204px;
}

.bxmaker__geoip__popup-info-desc {
  padding: 18px 20px;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.46;
  text-align: left;
  color: #010101;
  border-radius: 5px;
  background-color: #dde6eb;
  margin-bottom: 20px;
}

.bxmaker__geoip__popup-control {
  width: calc(100% + 40px);
  margin-left: -20px;
  border-top: 1px solid #a7c5d5;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bxmaker__geoip__popup-accept {
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  color: #fff;
  padding: 10px 27px 11px;
  border-radius: 20px;
  background-color: #f33333;
  cursor: pointer;
  border: 2px solid #f33333;
  transition: .3s ease-in-out all;
}

.bxmaker__geoip__popup-accept:hover {
  background-color: #fff;
  color: #000;
}


.bxmaker__geoip__popup-cancel {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  text-decoration: underline;
  margin-left: 20px;
  cursor: pointer;
  background-color: transparent;
}

.bxmaker__geoip__popup-cancel:hover {
  text-decoration: none;
}

.bxmaker__geoip__popup-pay-systems {
  display: flex;
  justify-content: space-between;
}

.bxmaker__geoip__popup-pay-item {
  border: 1px solid #e5e5e5;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.bxmaker__geoip__popup-pay-visa {
  width: 30px;
  height: 14px;
  background-image: url("../images/pay-system/i-visa_color.svg");
}

.bxmaker__geoip__popup-pay-mc {
  width: 22px;
  height: 16px;
  background-image: url("../images/pay-system/i-ms_color.svg");
}

.bxmaker__geoip__popup-pay-mir {
  width: 39px;
  height: 14px;
  background-image: url("../images/pay-system/i-mir_color.svg");
}

@media (min-width: 480px) {
  body .bxmaker__geoip__popup-content {
    padding: 30px;
    width: 440px;
  }

  .bxmaker__geoip__popup-info-pay {
    display: block;
  }

  .bxmaker__geoip__popup-header {
    font-size: 24px;
    width: calc(100% + 60px);
    margin-left: -30px;
  }

  .bxmaker__geoip__popup-control {
    width: calc(100% + 60px);
    margin-left: -30px;
  }

  .bxmaker__geoip__popup-city {
    width: calc(100% - 204px);
  }

  .bxmaker__geoip__popup-close {
    top: 0;
    right: -26px;
  }
}


