.b-contacts {
  position: relative;
}

.b-contacts__options {
  position: absolute;
  display: flex;
  top: -3px;
  right: 100px;

  .button-icon {
    margin-left: 5px;
  }
}

.b-contacts__list {
  margin-top: 10px;
}

.b-contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  a {
    color: $greyish-brown;
  }

  p {
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.b-contacts__add {
  margin-top: 18px;
  margin-bottom: 16px;
  display: flex;
}

.b-contacts__add-input {
  width: 126px;
  height: 27px;
  border-radius: 2px;
  border: solid 1px #93b5e4;
  font-size: 11px;
  color: #414040;
  line-height: 27px;
  padding: 0 9px;
}

.b-contacts__add-btn {
  position: relative;
  width: 27px;
  height: 27px;
  border-radius: 0 2px 2px 0;
  background-color: $cool-blue;
  margin-left: -26px;
  border: none;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include svg-icon-phone-client-white;
  }
}
