.b-id-obj {
  padding: 5px 18px;
}

.b-id-obj--sidebar {
  padding: 0;
  margin-bottom: 22px;

  .b-id-obj__form {
    justify-content: space-between;
    padding-right: 28px;
    margin-bottom: 10px;

    .field {
      width: 120px;
    }
  }
}

.b-id-obj--new-obj {
  margin-top: 5px;
  padding: 0;

  .b-id-obj__form {
    .field__box {
      margin-right: 10px;

      label[type='radio'] {
        padding-left: 18px;
      }
    }
  }

  .b-id-obj__fields {
    margin-top: 15px;
  }

  & + .popup__control {
    text-align: center;
  }

  .button-icon--i-obj {
    width: 20px;
    height: 20px;

    &:after {
      width: 20px;
      height: 20px;
    }
  }
}

.b-id-obj__form {
  display: flex;
  flex-wrap: wrap;
}

.b-id-obj__row {
  position: relative;
  display: flex;
  width: 100%;

  .button-icon--close-red {
    position: absolute;
    bottom: 2px;
    right: -7px;
  }
}

.b-id-obj__row-wrap {
  width: 100%;
  display: flex;

  & > * {

    &:first-child {
      width: calc(39% - 13px);
      margin-right: 13px;
    }
    &:last-child {
      margin-left: 13px;
      margin-right: 22px;
      width: calc(61% - 13px - 22px);
    }

  }
}

.b-id-obj__control {
  margin: 15px 0;
}

.b-id-obj__add {
  position: relative;
}

.b-id-obj__add-button {
  position: relative;
  font-size: 11px;
  line-height: 13px;
  padding-left: 25px;
  text-decoration: none;
  color: $greyish-brown;

  &:hover, &:focus {
    color: $greyish-brown;
  }

  &:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    @include svg-icon-green-plus-lg;
  }
}

.b-id-obj__text {
 margin-right: 15px;
 font-weight: bold;
}

.b-id-obj__fields {
  .field__box {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}
