include ../mixins/_all-mixins

.popup
    .popup__header
        h3
        .popup__header-close.js-close-popup
    .popup__body.js-custom-scroll-y
        .popup__body-wrap


    .popup__footer
        .popup__footer-control
