include ../mixins/_all-mixins

#popup-files.popup.mfp-hide
    .popup__header.popup__header--light
        h3 Галерея
        p 30 заявок / 33 файлов
        .popup__header-searchbox.popup__header-searchbox--left
            .searchbox
                input(type='text' placeholder='Сер.номер')
                button(type='submit') Ок
        .popup__header-close.js-close-popup

    .popup__body.popup__body--min
        .popup__body-scroll.popup__body-scroll--table.js-custom-scroll-y
            .popup__body-wrap
                .custom-table.custom-table--light.custom-table--collapsed
                    table.js-table-collapsed
                        thead
                            tr
                                th Тип КЕ
                                th ID
                                th Сер.номер
                                th Заявки
                                th Фото
                        tbody

                            tr(data-node-id="1")
                                td Все
                                td
                                td
                                td
                                td


                            tr(data-node-id="1.1" data-node-pid="1")
                                td IT - инфраструктура
                                td 253647
                                td 734762376781
                                td
                                td

                            tr(data-node-id="1.2" data-node-pid="1")
                                td Атол 77Ф
                                td 253647
                                td 7465375472
                                td 1
                                td 1

                            tr(data-node-id="1.2.1" data-node-pid="1.2")
                                td IT - инфраструктура
                                    td 253647
                                    td 734762376781
                                    td
                                    td
                            tr(data-node-id="1.3" data-node-pid="1")
                                td Атол 77Ф
                                td 253647
                                td 7465375472
                                td 1
                                td 1

                            tr(data-node-id="1.3.1" data-node-pid="1.3")
                                td IT - инфраструктура
                                    td 253647
                                    td 734762376781
                                    td
                                    td

                            tr(data-node-id="1.4" data-node-pid="1")
                                td Атол 77Ф
                                td 253647
                                td 7465375472
                                td 1
                                td 1

                            tr(data-node-id="1.4.1" data-node-pid="1.4")
                                td IT - инфраструктура
                                    td 253647
                                    td 734762376781
                                    td
                                    td

                            tr(data-node-id="1.5" data-node-pid="1")
                                td Атол 77Ф
                                td 253647
                                td 7465375472
                                td 1
                                td 1

                            tr(data-node-id="1.5.1" data-node-pid="1.5")
                                td IT - инфраструктура
                                    td 253647
                                    td 734762376781
                                    td
                                    td

                            tr(data-node-id="1.6" data-node-pid="1")
                                td Атол 77Ф
                                td 253647
                                td 7465375472
                                td 1
                                td 1

                            tr(data-node-id="1.6.1" data-node-pid="1.6")
                                td IT - инфраструктура
                                    td 253647
                                    td 734762376781
                                    td
                                    td
                            tr(data-node-id="1.7" data-node-pid="1")
                                td Атол 77Ф
                                td 253647
                                td 7465375472
                                td 1
                                td 1

                            tr(data-node-id="1.7.1" data-node-pid="1.7")
                                td IT - инфраструктура
                                    td 253647
                                    td 734762376781
                                    td
                                    td

                            tr(data-node-id="1.8" data-node-pid="1")
                                td Атол 77Ф
                                td 253647
                                td 7465375472
                                td 1
                                td 1

                            tr(data-node-id="1.8.1" data-node-pid="1.8")
                                td IT - инфраструктура
                                    td 253647
                                    td 734762376781
                                    td
                                    td

                            tr(data-node-id="1.9" data-node-pid="1")
                                td Атол 77Ф
                                td 253647
                                td 7465375472
                                td 1
                                td 1

                            tr(data-node-id="1.9.1" data-node-pid="1.9")
                                td IT - инфраструктура
                                    td 253647
                                    td 734762376781
                                    td
                                    td

                            tr(data-node-id="1.10" data-node-pid="1")
                                td Атол 77Ф
                                td 253647
                                td 7465375472
                                td 1
                                td 1

                            tr(data-node-id="1.10.1" data-node-pid="1.10")
                                td IT - инфраструктура
                                    td 253647
                                    td 734762376781
                                    td
                                    td

                            tr(data-node-id="1.11" data-node-pid="1")
                                td Атол 77Ф
                                td 253647
                                td 7465375472
                                td 1
                                td 1

                            tr(data-node-id="1.11.1" data-node-pid="1.11")
                                td IT - инфраструктура
                                    td 253647
                                    td 734762376781
                                    td
                                    td

                            tr(data-node-id="1.12" data-node-pid="1")
                                td Атол 77Ф
                                td 253647
                                td 7465375472
                                td 1
                                td 1

                            tr(data-node-id="1.12.1" data-node-pid="1.12")
                                td IT - инфраструктура
                                    td 253647
                                    td 734762376781
                                    td
                                    td

                            tr(data-node-id="1.13" data-node-pid="1")
                                td Атол 77Ф
                                td 253647
                                td 7465375472
                                td 1
                                td 1

                            tr(data-node-id="1.13.1" data-node-pid="1.13")
                                td IT - инфраструктура
                                    td 253647
                                    td 734762376781
                                    td
                                    td

                            tr(data-node-id="1.14" data-node-pid="1")
                                td Атол 77Ф
                                td 253647
                                td 7465375472
                                td 1
                                td 1

                            tr(data-node-id="1.14.1" data-node-pid="1.14")
                                td IT - инфраструктура
                                    td 253647
                                    td 734762376781
                                    td
                                    td



    .popup__header.popup__header--light.popup__header--mini
        .popup__header-select
            .field
                .field__box
                    .field__box-select
                        select
                            option Текущий и прошлый кварталы
                            option Текущий и прошлый кварталы
                            option Текущий и прошлый кварталы
                            option Текущий и прошлый кварталы

        .popup__header-checkboxs
            .custom-checkbox
                input(id='11' type='checkbox')
                label(for='11') Акт вып. раб.

            .custom-checkbox
                input(id='22' type='checkbox')
                label(for='22') Наряд на работу

            .custom-checkbox
                input(id='33' type='checkbox')
                label(for='33') Результат ТО-3

            .custom-checkbox
                input(id='44' type='checkbox')
                label(for='44') Причина заявки

            .custom-checkbox
                input(id='55' type='checkbox')
                label(for='55') Эскизы

            .popup__header-show-other.js-show-checkboxs


            .popup__header-checkboxs-other
                ul
                    li
                        .custom-checkbox
                            input(id='66' type='checkbox')
                            label(for='66') Скан для М-Видео (фото)
                    li
                        .custom-checkbox
                            input(id='77' type='checkbox')
                            label(for='77') Без файлов




    .popup__body.popup__body--min
        .popup__body-scroll.popup__body-scroll--table.js-custom-scroll-xy
            .popup__body-wrap
                .custom-table.custom-table--light.custom-table--two-row
                    table
                        thead
                            tr
                                th #
                                th Тип
                                th Этап
                                    br
                                    | Состояние
                                th Дата
                                th Сервис
                                th КЕ
                                th Отв. лицо
                        tbody
                            +html-files
                            +html-files
                            +html-files
                            +html-files
