include ../mixins/_all-mixins

#popup-guide-zip.popup.mfp-hide
    .popup__header
        h3 Справочник ЗиП
        .popup__header-dropdown
            .custom-dropdown
                .custom-dropdown__name
                    p Отдел ТО (ЗИП и инструмент)
                .custom-dropdown__list
                    ul
                        li Не определен
                        li Внешний клиент
                        li Запрос на обслуживание
                        li Запрос на обслуживание
                        li Запрос на обслуживание

        .popup__header-searchbox
            .searchbox
                input(type='text' placeholder='Найти')
                button(type='submit') Ок
        .popup__header-button
            a(href='') Склад ЗиП
        .popup__header-close.js-close-popup

    .popup__body
        .popup__body-scroll.popup__body-scroll--table.js-custom-scroll-y
            .popup__body-wrap
                .custom-table.custom-table--collapsed
                    table.js-table-collapsed
                        thead
                            tr
                                th ЗиП
                                th Отдел ТО (ЗиП и инструмент)
                        tbody
                            tr(data-node-id="1")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="1.1" data-node-pid="1")
                                td Системы безопасности
                                td
                            tr(data-node-id="1.1.1" data-node-pid="1.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="2")
                                td Сервис
                                td
                            tr(data-node-id="2.1" data-node-pid="2")
                                td Отдел ТО
                                td
                            tr(data-node-id="2.1.1" data-node-pid="2.1")
                                td Блок питания 5В 2А
                                td 3
                            tr(data-node-id="2.2" data-node-pid="2")
                                td Сервисный центр
                                td
                            tr(data-node-id="2.2.1" data-node-pid="2.2")
                                td
                                    a(href='') Блок питания 5В 2А
                                td 3


                            tr(data-node-id="3")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="3.1" data-node-pid="3")
                                td Системы безопасности
                                td
                            tr(data-node-id="3.1.1" data-node-pid="3.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="4")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="4.1" data-node-pid="4")
                                td Системы безопасности
                                td
                            tr(data-node-id="4.1.1" data-node-pid="4.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="5")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="5.1" data-node-pid="5")
                                td Системы безопасности
                                td
                            tr(data-node-id="5.1.1" data-node-pid="5.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="1")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="1.1" data-node-pid="1")
                                td Системы безопасности
                                td
                            tr(data-node-id="1.1.1" data-node-pid="1.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="2")
                                td Сервис
                                td
                            tr(data-node-id="2.1" data-node-pid="2")
                                td Отдел ТО
                                td
                            tr(data-node-id="2.1.1" data-node-pid="2.1")
                                td Блок питания 5В 2А
                                td 3
                            tr(data-node-id="2.2" data-node-pid="2")
                                td Сервисный центр
                                td
                            tr(data-node-id="2.2.1" data-node-pid="2.2")
                                td
                                    a(href='') Блок питания 5В 2А
                                td 3


                            tr(data-node-id="3")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="3.1" data-node-pid="3")
                                td Системы безопасности
                                td
                            tr(data-node-id="3.1.1" data-node-pid="3.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="4")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="4.1" data-node-pid="4")
                                td Системы безопасности
                                td
                            tr(data-node-id="4.1.1" data-node-pid="4.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="5")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="5.1" data-node-pid="5")
                                td Системы безопасности
                                td
                            tr(data-node-id="5.1.1" data-node-pid="5.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="1")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="1.1" data-node-pid="1")
                                td Системы безопасности
                                td
                            tr(data-node-id="1.1.1" data-node-pid="1.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="2")
                                td Сервис
                                td
                            tr(data-node-id="2.1" data-node-pid="2")
                                td Отдел ТО
                                td
                            tr(data-node-id="2.1.1" data-node-pid="2.1")
                                td Блок питания 5В 2А
                                td 3
                            tr(data-node-id="2.2" data-node-pid="2")
                                td Сервисный центр
                                td
                            tr(data-node-id="2.2.1" data-node-pid="2.2")
                                td
                                    a(href='') Блок питания 5В 2А
                                td 3


                            tr(data-node-id="3")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="3.1" data-node-pid="3")
                                td Системы безопасности
                                td
                            tr(data-node-id="3.1.1" data-node-pid="3.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="4")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="4.1" data-node-pid="4")
                                td Системы безопасности
                                td
                            tr(data-node-id="4.1.1" data-node-pid="4.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="5")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="5.1" data-node-pid="5")
                                td Системы безопасности
                                td
                            tr(data-node-id="5.1.1" data-node-pid="5.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3
                            tr(data-node-id="3")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="3.1" data-node-pid="3")
                                td Системы безопасности
                                td
                            tr(data-node-id="3.1.1" data-node-pid="3.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="4")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="4.1" data-node-pid="4")
                                td Системы безопасности
                                td
                            tr(data-node-id="4.1.1" data-node-pid="4.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="5")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="5.1" data-node-pid="5")
                                td Системы безопасности
                                td
                            tr(data-node-id="5.1.1" data-node-pid="5.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="3")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="3.1" data-node-pid="3")
                                td Системы безопасности
                                td
                            tr(data-node-id="3.1.1" data-node-pid="3.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="4")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="4.1" data-node-pid="4")
                                td Системы безопасности
                                td
                            tr(data-node-id="4.1.1" data-node-pid="4.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="5")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="5.1" data-node-pid="5")
                                td Системы безопасности
                                td
                            tr(data-node-id="5.1.1" data-node-pid="5.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3
                            tr(data-node-id="4")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="4.1" data-node-pid="4")
                                td Системы безопасности
                                td
                            tr(data-node-id="4.1.1" data-node-pid="4.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="5")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="5.1" data-node-pid="5")
                                td Системы безопасности
                                td
                            tr(data-node-id="5.1.1" data-node-pid="5.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="4")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="4.1" data-node-pid="4")
                                td Системы безопасности
                                td
                            tr(data-node-id="4.1.1" data-node-pid="4.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="5")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="5.1" data-node-pid="5")
                                td Системы безопасности
                                td
                            tr(data-node-id="5.1.1" data-node-pid="5.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="4")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="4.1" data-node-pid="4")
                                td Системы безопасности
                                td
                            tr(data-node-id="4.1.1" data-node-pid="4.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="5")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="5.1" data-node-pid="5")
                                td Системы безопасности
                                td
                            tr(data-node-id="5.1.1" data-node-pid="5.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="4")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="4.1" data-node-pid="4")
                                td Системы безопасности
                                td
                            tr(data-node-id="4.1.1" data-node-pid="4.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3

                            tr(data-node-id="5")
                                td Оборудование автоматизации
                                td
                            tr(data-node-id="5.1" data-node-pid="5")
                                td Системы безопасности
                                td
                            tr(data-node-id="5.1.1" data-node-pid="5.1")
                                td
                                    a(href='') Блок питания 5В 2А
                                td  3






