include ../mixins/_all-mixins

#popup-history-step-state.popup.mfp-hide
    .popup__header
        h3 История переключения этапов маршрута и состояний - заявка №847532055
        .popup__header-close.js-close-popup

    .popup__body
        .popup__body-scroll.popup__body-scroll--table.js-custom-scroll-y
            .popup__body-wrap
                .custom-table.custom-table--scroll.custom-table--min-icon
                    table
                        thead
                            tr
                                th №
                                th Тип
                                th Дата / время
                                th Этап
                                th Состояние
                                th Т
                                th Т этапа
                                th Т сервиса
                                th Атрибуты
                                th Оператор
                                th Действие
                                th Переход
                                th
                                    .button-icon.button-icon--bin

                        tbody
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')

                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')


                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')

                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')



                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')

                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')


                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')

                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')


                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')

                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')


                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')

                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')



                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')

                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')


                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')

                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')



                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')

                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')


                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')

                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')
                            tr
                                td 3563492
                                td ОР
                                td 16.09.2019
                                    span 11:36:45
                                td
                                    .label-item.label-item--green Регистрация
                                td
                                    .label-item.label-item--green Новая
                                td 0:00:55
                                td 0:00:55
                                td 0:00:55
                                td Результат выполнения заявки успешно: 2
                                td Суворов А.И.
                                td Изменение ответственного
                                td 32642
                                td
                                    .button-icon.button-icon--bin.js-show-tooltip(data-type='remove')


    .b-tooltip
        .b-tooltip__close.js-close-tooltip
        .b-tooltip__template-remove
            .b-tooltip__wrap
                h3 Вы действительно хотите удалить?
                .b-tooltip__control
                    .button.button--blue Удалить
                    .button.button--light-blue.js-close-tooltip Отмена



