include ../mixins/_all-mixins

#popup-new-work.popup.mfp-hide
    .popup__header
        h3 Новая работа
        .popup__header-close.js-close-popup
    .popup__body
        .popup__body-scroll.js-custom-scroll-y
            .popup__body-wrap
                +field-input('Заявка', '')
                +field-input('Операция', '')
                +field-input('Исполнитель', '')
                +field-select('Сервис')
                +field-input-collapsed('KE')
                +field-input('Поиск по SN')
                +field-select('Услуга')
                +field-select('Тип работы')
                +field-radio('Вид работы', 'Сервис', 'Проект')
                +field-textarea('Текст работы')
                +field-input-cost-refresh('Затраты')
                .field.field--multi
                    .field__title
                        h3 Длительность
                    .field__box.field__box--five-custom-width
                        .field.field--min.field--turquoise
                            .field__title
                                h3 Факт
                            .field__box
                                input(type='text' placeholder='00:00')
                        .field.field--min.field--blue
                            .field__title
                                h3 Для клиента
                            .field__box
                                input(type='text' placeholder='00:00')
                        .field.field--min.field--blue
                            .field__title
                                h3 Остаток
                            .field__box
                                input(type='text' placeholder='-')
                        .field.field--min.field--blue
                            .field__title
                                h3 К оплате
                            .field__box
                                input(type='text' placeholder='-')
                        .field.field--min.field--blue
                            .field__title
                                h3 Тип оплаты
                            .field__box
                                .field__box-select
                                    select
                                        option По договору
                                        option По договору
                                        option По договору
                                        option По договору

                +field-input('Комментарий')
                .field
                    .field__title
                        h3 ЗиП
                        .field__title-buttons
                            .button-icon.button-icon--green-plus

                    .field__box
                        input(type='text' placeholder='')



    .popup__footer
        .popup__footer-control
            .button.button--turquoise Сохранить

    .b-tooltip
        .b-tooltip__close.js-close-tooltip
        .b-tooltip__template-add
            .b-tooltip__header
                h3 Затраты
            .b-tooltip__body
                +field-select('Тип', '', 'green-plus', 'equal')
                +field-input('Сумма затрат')
            .b-tooltip__footer
                .button.button--min.button--blue Сохранить
        .b-tooltip__template-remove
            .b-tooltip__wrap
                h3 Вы действительно хотите удалить?
                .b-tooltip__control
                    .button.button--blue Удалить
                    .button.button--light-blue.js-close-tooltip Отмена
