include ../mixins/_all-mixins

#popup-test-call.popup.mfp-hide
    .popup__header.popup__header--light
        h3 Тестовый звонок

        .popup__header-close.js-close-popup
    .popup__body
        .popup__body-wrap
            .b-test-call
                a(href='').b-test-call__item #032
                a(href='').b-test-call__item #038

