@import "select2-custom";
html, body {
  font-size: 11px;
}

/*change svg.css*/
/*userFilter.js*/
/*svg-(121).svg update*/
/*svg-(142).svg update*/
/*svg-(159).svg update*/
/*svg-(231).svg update*/
/*svg-(238).svg add*/
.svg-search-colored--size, .svg-clear--size {
  width: 34px;
  height: 32px;
}

.form-control {
  padding-left: 14px;
  font-size: 12px;
  line-height: 27px;
  font-weight: normal;
  height: 27px;
  //height: 32px; юыдл так
  color: #414040;
}

/*rt.css*/
.specScroll {
  position: relative;
  margin: 0;
}

#requestTable  {
  overflow: hidden;

  .table-responsive {
    top: 0;
  }
}

#mainRequestWindow th {
  //min-width: 92px;
}

#filterTable {
  margin-bottom: 10px;
}

/*admin-lte-extend.css*/
#search-form {
  background-color: rgba(152, 206, 231, 0.14);;
  padding: 18px 14px;
  margin-bottom: 24px;
}
/*svg.css*/
.exp .glyphicon.glyphicon-export{
  font-size: 19px;
  color: #3578d5;
}

.search-form {

}

.search-form__wrap {
  display: flex;
}

.search-form__box:not(:first-child) {
  margin-left: 45px;
}

.search-form__box:nth-child(1) {
  flex-grow: 1;
}
.search-form__box:nth-child(2) {
  flex-grow: 2;
}
.search-form__box:nth-child(3) {
  flex-grow: 3;
}
.search-form__box:nth-child(4) {
  flex-grow: 5;
}
.search-form__box:nth-child(5) {
  flex-grow: 3;
}
.search-form__box:nth-child(6) {
  flex-grow: 3;
}

.search-form__box:last-child {
  display: flex;
}

.search-form__box:last-child i:last-child {
  margin-left: 17px;
}

.search-form__box {
  .help-block {
    display: none;
  }

  .field__box {
    input, select {
      font-size: 12px;
      line-height: 32px;
    }

    select {
      height: 32px;
    }
  }

}

.requestTable-control {
  margin-bottom: 8px;
}

.requestTable-control .summary {
  font-size: 11px;
  font-weight: normal;
  line-height: normal;
  color: #414040;
}

.requestTable-control .pagination > li > a {
  font-size: 12px;
  line-height: 1;
  color: #414040;
}

.requestTable-control .pagination > .next {
  margin-left: 10px;
}

.requestTable-control .pagination > .prev {
  margin-right: 10px;
}

.requestTable-control .pagination > .prev > span {
  position: relative;
  padding: 0 3px;
}

.requestTable-control .pagination > .next > span {
  position: relative;
  padding: 0 3px;
}

.requestTable-control .pagination > .prev.disabled > span:after {
  border-color: transparent #dfdfe4 transparent transparent;
}

.requestTable-control .pagination > .next.disabled > span:after {
  border-color: transparent transparent transparent #dfdfe4;
}

.requestTable-control .pagination > .prev > span:after {
  content: '';
  position: absolute;
  top: 4px;
  left: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 7px 4px 0;
  border-color: transparent #7f7f7f transparent transparent;
}

.requestTable-control .pagination > .next > span:after {
  content: '';
  position: absolute;
  top: 4px;
  right: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 7px;
  border-color: transparent transparent transparent #7f7f7f;
}

.requestTable-control .pagination > li > span:hover {
  background-color: transparent;
}


.requestTable-control .pagination > .active > a {
  color: #414040;
}

.clone-fixed-table {
  //width: calc(100% - 26px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  pointer-events: none;
  z-index: 10;
  overflow: hidden;

  table {
    table-layout: fixed;
  }
}

.wrapper-list {
  position: relative;
}



.clone-fixed-table table {
  margin-bottom: 0;
}

.dropdown-menu-export {
  top: 20px;
}

.dropdown-menu-export .dropdown-header {
  font-size: 11px;
  line-height: 1;
  color: #414040;
  padding: 5px 11px 8px;
}

.dropdown-menu-export.dropdown-menu > li > a {
  display: flex;
  align-items: center;
  padding: 1px 8px;
  color: #414040;
  text-decoration: none;
}

.dropdown-menu-export.dropdown-menu>li>a>i {
  margin-right: 8px;
}


.dropdown-menu {
  border-radius: 3px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.29);
  border: solid 1px rgba(127, 127, 127, 0.21);
}


.table-custom {

}

.table-custom thead tr {
  background-color: #f5f5f5;
}

.table-custom {

}

.table-custom > tbody > tr:nth-of-type(odd){
  background-color: rgba(242, 246, 250, 0.81);
}


/*table*/


/*labels*/


/*site(site1)*/

.sb-head,.sb-footer {
  background: #f5f5f5;
}

.select-list-item {
  display: flex;
  align-items: center;
}

.select-list-item__icon {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: solid 1px #93b5e4;
  background-color: #ffffff;
  margin-right: 7px;

  &:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    @include svg-icon-checkbox-ok;
    transition: .3s ease-in-out all;
    opacity: 0;
  }

  &.is-check {
    &:after {
      opacity: 1;
    }
  }
}

.select-list-item__text {
  color: #7f7f7f;
}

.checkboxStyler {
  padding: 3px 0;
}

.cursor-move-label {
  .custom-checkbox label {
    cursor: move;
  }
}


///
///
///
///
///
///
/// !!!!!! заменить
.icon {
  display: inline-block;
}

.icon--move {
  @include svg-icon-move;
}

.icon--reset-column {
  @include svg-icon-reset-column;
}

.icon--upload-files {
  @include svg-icon-upload-files;
}

.icon--email-open {
  @include svg-icon-email-open;
}

.icon--email-close {
  @include svg-icon-email-close;
}

.icon--heart-ok-lg {
  @include svg-icon-heart-ok-bg;
}

.icon--heart-cancel-lg {
  @include svg-icon-heart-cancel-bg;
}

.icon--call-cancel {
  @include svg-icon-call-cancel;
}

.icon--export {
  @include svg-icon-export;
}

.right-control-box {
  display: flex;

  .button-dropdown {
    margin-left: 15px;
  }

  .mb-40 {
    margin: 0 40px;
  }
}

.btn-reset {
  border: none;
  background: none;
  text-shadow: none;
  box-shadow: none;
  padding: 0;
}



.selectbox {
  display: flex;
  align-items: center;
}

.selectbox__wrap {
  width: 44px;
  margin-left: 10px;
}

.selectbox--count {
  .selectbox__wrap {
    margin-right: 10px;
    width: 44px;
  }
}

.selectbox--autoplay {
  .selectbox__wrap {
    width: 68px;
  }
}


// textarea custom style

.cke_chrome {
  border-color: #93b5e4;
}

.cke_top {
  border-color: #93b5e4;
  padding: 0;
}

.cke_toolgroup {
  margin-left: 1px;
  margin-bottom: 1px;
}

.cke_bottom {
  border-color: #93b5e4;
}


// table

.filter-item {
  display: inline-block;
  position: relative;
  border-radius: 2px;
  border: solid 1px #679de8;
  font-size: 10px;
  line-height: 18px;
  color: #3578d5;
  padding: 0 20px 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    @include svg-icon-close-item-filter;
  }
}


// modal

.modal-wrap {
  position: relative;

  .popup {

    top: 30px;
    right: 0;
    position: absolute;
    z-index: 100;
    box-shadow: 3px 4px 36px 0 rgba(0, 0, 0, 0.5);
  }

  .popup__body {
    padding: 0 18px 20px;
  }

  .popup--contact {
    min-width: 330px;
  }

  .popup--call {
    min-width: 507px;
  }
}

//

.sb-footer {
  .button-icon--save {
    margin: 0 14px;
  }
}

.required-text {
  color: #ec0606;
}

#sidebar-object {
  min-width: 358px;

  .sb-content {
    height: calc(100vh - 367px);
  }

  .box-control {
    margin-top: 10px;
    display: flex;

    .button-icon {
      margin-right: 7px;
    }
  }
}

.JCLRgrips {
  z-index: 100;
}

#sidebar-messenger {
  width: 360px;
  .box-control {
    display: flex;
    margin-left: 15px;
  }

  .b-messages__header {
    padding: 8px 0 8px 10px;
    background-color: #f5f5f5;
    height: auto;
  }

  .b-messages__body {
    padding: 0 18px;
    height: calc(100vh - 333px);
  }

  .b-messages__item {
    width: 100%;
    margin-bottom: 16px;

    &:nth-child(even) {
      width: calc(100% - 15px);
    }
  }

  .b-messages__footer {
    padding: 11px 12px;
  }
}


