$OpenSans: 'Open Sans', sans-serif;

//color
$white: #fff;
$black: #000;

$very-light-blue: #e2e9f7;

$greyish-brown: #414040;
$turquoise: #00bdb1;
$white-two: #f5f5f5;
$pale-grey: #f2f6fa;
$pale-grey-two: #e9f0fb;

$brown-grey: #7f7f7f;
$light-grey-blue: #93b5e4;
$very-light-pink: #efefef;
$deep-sky-blue: #227be8;
$very-light-blue: #e4ecfa;
$ice-blue: #f0f8fb;
$turquoise-blue: #00abb1;
$dark-pink: #c93c69;

$macaroni-and-cheese: #f2b134;
$macaroni-and-cheese30: rgba(242, 177, 52, .3);

$light-orange: #f4a755;
$light-orange30: rgba(244, 167, 85, .3);

$custard: #fefa79;
$custard60: rgba(254, 250, 121, .6);

$yellowish-tan: #f5f285;
$yellowish-tan40: rgba(245, 242, 133, .4);

$cool-blue: #3578d5;
$cool-blue50: rgba(53, 120, 213, .5);
$cool-blue20: rgba(53, 120, 213, .2);

$lightblue: #8dd1e2;
$lightblue30: rgba(141, 209, 226, .3);

$salmon: #ec6e6e;
$salmon30: rgba(236, 110, 110, .3);

$light-bright-green: #5cfa54;
$light-bright-green30: rgba(92, 250, 84, .3);

$baby-green: #8afba1;
$baby-green30: rgba(138, 251, 161, .3);

$fresh-green: #66fa32;
$fresh-green30: rgba(102, 250, 50, 0.3);

$lightgreen: #67fc85;
$lightgreen30: rgba(103, 252, 133, 0.3);

$sea-green: #49fbc5;
$sea-green30: rgba(73, 251, 197, .3);

$pale-grey: #edf2fb;
$pale-grey50: rgba(237, 242, 251, .5);
$pale-grey80: rgba(237, 242, 251, .8);

$pale-mauve: #f9d5f9;
$pale-mauve30: rgba(249, 213, 249, .3);

$pinkish-grey: #d2c1c1;
$pinkish-grey30: rgba(210, 193, 193, .3);

$faded-pink: #dd9dbe;
$faded-pink30: rgba(221, 157, 190, .3);

$peach: #efbc86;
$peach30: rgba(239, 188, 134, .3);

$light-blue: #9dd9e8;
$light-blue30: rgba(157, 217, 232, .3);
