.svg:before {
    /*content: "\f013";*/
}

.svg{
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    width: 25px;
    height: 25px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.svg-x3{
    width: 60px;
    height: 60px;
}
.svg-x2{
    width: 36px;
    height: 36px;
}
.svg-x1_5{
    width: 30px;
    height: 30px;
}
.svg-x1{
    width: 22px;
    height: 22px;
}
.svg-pointer {cursor: pointer}
.svg-melody{ background-image:url('/images/svg/svg-(120).svg')}
.svg-box{background-image:url('/images/svg/svg-(121).svg')}
.svg-filter{background-image:url('/images/svg/svg-(121).svg')}
.svg-aammyy{background-image:url('/images/svg/svg-(122).svg')}
.svg-teamweiver{background-image:url('/images/svg/svg-(123).svg')}
.svg-other{background-image:url('/images/svg/svg-(124).svg')}
.svg-vnc{background-image:url('/images/svg/svg-(125).svg')}
.svg-house{background-image:url('/images/svg/svg-(126).svg')}
.svg-green-phone{background-image:url('/images/svg/svg-(127).svg')}
.svg-car{background-image:url('/images/svg/svg-(128).svg')}
.svg-sigma{background-image:url('/images/svg/svg-(129).svg')}
.svg-up-down{background-image:url('/images/svg/svg-(130).svg')}
.svg-notepad{background-image:url('/images/svg/svg-(131).svg')}
.svg-btn-unit{background-image:url('/images/svg/svg-(132).svg')}
.svg-btn-doc{background-image:url('/images/svg/svg-(133).svg')}
.svg-btn-history{background-image:url('/images/svg/svg-(134).svg')}
.svg-btn-image{background-image:url('/images/svg/svg-(135).svg')}
.svg-trash-full{background-image:url('/images/svg/svg-(136).svg')}
.svg-btn-copy{background-image:url('/images/svg/svg-(137).svg')}
.svg-empty-reard{background-image:url('/images/svg/svg-(138).svg')}
.svg-red-reard{background-image:url('/images/svg/svg-(139).svg')}
.svg-btn-save{background-image:url('/images/svg/svg-(140).svg')}
.svg-pluse{background-image:url('/images/svg/svg-(141).svg')}
.svg-clear{background-image:url('/images/svg/svg-(142).svg')}
.svg-volt{background-image:url('/images/svg/svg-(143).svg')}
.svg-delete-duplicate{background-image:url('/images/svg/svg-(144).svg')}
.svg-set-file{background-image:url('/images/svg/svg-(145).svg')}
.svg-printer{background-image:url('/images/svg/svg-(146).svg')}
.svg-message-close{background-image:url('/images/svg/svg-(147).svg')}
.svg-message-open{background-image:url('/images/svg/svg-(148).svg')}
.svg-label-on{background-image:url('/images/svg/svg-(149).svg')}
.svg-pluse-squere{background-image:url('/images/svg/svg-(150).svg')}
.svg-minus-squere{background-image:url('/images/svg/svg-(151).svg')}
.svg-search{background-image:url('/images/svg/svg-(152).svg')}
.svg-colse{background-image:url('/images/svg/svg-(153).svg')}
.svg-star-empty{background-image:url('/images/svg/svg-(154).svg')}
.svg-star-blue{background-image:url('/images/svg/svg-(155).svg')}
.svg-label-off{background-image:url('/images/svg/svg-(156).svg')}
.svg-call-error{background-image:url('/images/svg/svg-(157).svg')}
.svg-dollar{background-image:url('/images/svg/svg-(158).svg')}
.svg-search-colored{background-image:url('/images/svg/svg-(159).svg')}
.svg-close-gray{background-image:url('/images/svg/svg-(160).svg')}
.svg-dollar-red{background-image:url('/images/svg/svg-(161).svg')}
.svg-edit-square{background-image:url('/images/svg/svg-(162).svg')}
.svg-delete-sqare{background-image:url('/images/svg/svg-(163).svg')}
.svg-refresh-color{background-image:url('/images/svg/svg-(164).svg')}
.svg-refresh{background-image:url('/images/svg/svg-(165).svg')}
.svg-reard-add{background-image:url('/images/svg/svg-(166).svg')}
.svg-refresh{background-image:url('/images/svg/svg-(167).svg')}
.svg-left{background-image:url('/images/svg/svg-(168).svg')}
.svg-right{background-image:url('/images/svg/svg-(169).svg')}
.svg-home{background-image:url('/images/svg/svg-(170).svg')}
.svg-phone-blue{background-image:url('/images/svg/svg-(171).svg')}
.svg-callendar{background-image:url('/images/svg/svg-(172).svg')}
.svg-rmeote{background-image:url('/images/svg/svg-(173).svg')}
.svg-car-2{background-image:url('/images/svg/svg-(174).svg')}
.svg-doc{background-image:url('/images/svg/svg-(175).svg')}
.svg-doc-copy{background-image:url('/images/svg/svg-(176).svg')}
.svg-user-time{background-image:url('/images/svg/svg-(177).svg')}
.svg-steps{background-image:url('/images/svg/svg-(178).svg')}
.svg-doc-move{background-image:url('/images/svg/svg-(179).svg')}
.svg-around{background-image:url('/images/svg/svg-(180).svg')}
.svg-pluse-red{background-image:url('/images/svg/svg-(181).svg')}
.svg-pluse-blue{background-image:url('/images/svg/svg-(182).svg')}
.svg-flag{background-image:url('/images/svg/svg-(183).svg')}
.svg-ring{background-image:url('/images/svg/svg-(184).svg')}
.svg-pluse-green{background-image:url('/images/svg/svg-(185).svg')}
.svg-time{background-image:url('/images/svg/svg-(186).svg')}
.svg-pluse-red-small{background-image:url('/images/svg/svg-(187).svg')}
.svg-green-up{background-image:url('/images/svg/svg-(188).svg')}
.svg-edit{background-image:url('/images/svg/svg-(189).svg')}
.svg-trash{background-image:url('/images/svg/svg-(190).svg')}
.svg-tree{background-image:url('/images/svg/svg-(191).svg')}
.svg-tools{background-image:url('/images/svg/svg-(192).svg')}
.svg-message-close-green{background-image:url('/images/svg/svg-(193).svg')}
.svg-call-around{background-image:url('/images/svg/svg-(194).svg')}
.svg-call-time{background-image:url('/images/svg/svg-(195).svg')}
.svg-attach-ariund{background-image:url('/images/svg/svg-(196).svg')}
.svg-trash-simple{background-image:url('/images/svg/svg-(197).svg')}
.svg-volueme{background-image:url('/images/svg/svg-(198).svg')}
.svg-right-blue{background-image:url('/images/svg/svg-(199).svg')}
.svg-left-right{background-image:url('/images/svg/svg-(200).svg')}
.svg-ul{background-image:url('/images/svg/svg-(201).svg')}
.svg-ol{background-image:url('/images/svg/svg-(202).svg')}
.svg-ring-big{background-image:url('/images/svg/svg-(203).svg')}
.svg-call{background-image:url('/images/svg/svg-(204).svg')}
.svg-scroll{background-image:url('/images/svg/svg-(205).svg')}
.svg-attach{background-image:url('/images/svg/svg-(206).svg')}
.svg-full-screen{background-image:url('/images/svg/svg-(207).svg')}
.svg-send{background-image:url('/images/svg/svg-(208).svg')}
.svg-equalis{background-image:url('/images/svg/svg-(209).svg')}
.svg-pluse-green{background-image:url('/images/svg/svg-(210).svg')}
.svg-down{background-image:url('/images/svg/svg-(211).svg')}
.svg-sander-time{background-image:url('/images/svg/svg-(212).svg')}
.svg-warning-red{background-image:url('/images/svg/svg-(213).svg')}
.svg-up-green-round{background-image:url('/images/svg/svg-(214).svg')}
.svg-warning-yellow{background-image:url('/images/svg/svg-(215).svg')}
.svg-down-red-round{background-image:url('/images/svg/svg-(216).svg')}
.svg-minus-red-round{background-image:url('/images/svg/svg-(217).svg')}
.svg-info-blue-square{background-image:url('/images/svg/svg-(218).svg')}
.svg-big-heart{background-image:url('/images/svg/svg-(219).svg')}
.svg-up-blue-round{background-image:url('/images/svg/svg-(220).svg')}
.svg-car-3{background-image:url('/images/svg/svg-(221).svg')}
.svg-btn-ancor{background-image:url('/images/svg/svg-(230).svg')}
.svg-btn-cog{background-image:url('/images/svg/svg-(231).svg')}
.svg-btn-button{background-image:url('/images/svg/svg-(232).svg')}
.svg-btn-tags{background-image:url('/images/svg/svg-(233).svg')}
.svg-btn-pluse-blue{background-image:url('/images/svg/svg-(234).svg')}
.svg-btn-pluse-red{background-image:url('/images/svg/svg-(235).svg')}
.svg-btn-brush{background-image:url('/images/svg/svg-(236).svg')}

.svg-btn-reset{background-image:url('/images/svg/svg-(238).svg')}
.svg-btn-heart{background-image:url('/images/svg/svg-(239).svg')}
.svg-btn-heart-ok{background-image:url('/images/svg/svg-(240).svg')}
.svg-btn-files{background-image:url('/images/svg/svg-(247).svg')}

.svg a ,.svg button{
    color: initial;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: initial;
    border: 0;
    margin: 0;
    padding: 0;
}
